.search-form {
    text-align: center;
    margin: 14px 0 24px;
    border-bottom: 1px solid white;
    padding: 16.1px 0 6px 0;
    width: 100%;
    transition: top 500ms;
    transition-delay: 500ms;
    top: -300px;
}

.search-form-price {
    margin: 14px 0;
}

@media (min-width: 1000px) {
    .sticky-filter {
        height: 80px;
        margin-bottom: 40px;
    }
    .sticky-filter.on .search-form {
        position: fixed;
        top: 32px;
        left: 0;
        z-index: 100000;
        background: #4C4B4B;
    }
    .sticky-filter.on .js-filter-form{
        padding: 0 17px;
    }
    .sticky-filter.on .search-form .filter-range{
        color: white;
        font-weight: 100;
    }
    .search-form-price {
        margin: 10px 16px;
        width: 280px;
        display: block;
        float: left;
    }
    .filter-apply{
        margin: 12px 0px;
    }
    .sticky-filter.on .search-form{
        top: 145px;
    }
}
@media (min-width: 1020px) {
    .sticky-filter.on .search-form{
        top: 115px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .archive.category .sticky-filter.on .search-form-select{
        width: 190px;
    }
    .archive.category .search-form-price{
        margin: 10px 16px 20px 16px;
    }
    .archive.category .search-form-select{
        width: 40%;
    }
}


@media (min-width: 1560px) {
    .sticky-filter {
        height: 60px;
    }
}

.search-form-brands-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.filter-range{
    color: #333;
}

@media (min-width: 1000px) {
    .filter-range {
        float: left;
        margin: 8px 0;
    }
}

.filter-amount {
    color: #950e2e;
    font-weight: bold;
    width: 90px;
    text-align: left;
    display: inline-block;
}

.filter-apply {
    width: 100%;
    border: 1px solid white;
    height: 2em;
    margin: -2px 0 12px 0px;
    font-size: 1em;
    font-weight: 100;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background: #333;
    font-family: 'Oswald', sans-serif;
}

.filter-apply.active {
    background-color: #950e2e;

}

@media (min-width: 1000px) {
    .filter-apply {
        width: 80px;
        float: right;
        margin: 0;
    }
}

.search-form-dropdown {
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1;
    top: 2em;
    display: none;
    margin-top: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

.search-form-inner {
    /*padding: 0 12px;*/
    background: #333;
}

.search-form-select {
    width: 100%;
    background: #333;
    color: #fff;
    height: 2em;
    position: relative;
    display: block;
    cursor: pointer;
    margin: 12px 0;
    font-weight: 100;
}

@media (min-width: 1000px) {
    .search-form-select {
        width: 190px;
        float: left;
        margin: 0 5px 0 0;
    }
    .archive.category .search-form-order, .search-form-order{
        clear: none;
    }
}

.search-form-select label {
    cursor: pointer;
    display: block;
    padding: 8px 0;
    font-size: 0.8em;
}

.search-form-select label:hover {
    background: #eee;
}

.search-form-order{
    clear: both;
}
@media (min-width: 1000px) {
    .on .search-form-order{
        clear: none;
    }
}
@media (min-width: 1560px) {

    .search-form-order{
        clear: none;
    }
}

.search-form-select input[type=checkbox] {
    width: 1em;
    height: 1em;
    border-radius: 2px;
    background: transparent;
    border: 1px solid #333;

}

.search-form-select input[type=checkbox]:checked {
    background: #000;
}

.search-form-placeholder {
    font-size: 1em;
    line-height: 2em;
    min-height: 1em;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
}
